.palette{
    color: #08D9D6,#252A34,#FF2E63,#EAEAEA; 
} 
.i{
    display: flex;
    height: 100vh;
    color: #252A34;
}

.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right{
    flex: 1;
    position: relative;
}
.i-bg{
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 50% 100%, 0 50%, 50% 0);
    width: 100%;
    height: 100%;
    background: linear-gradient(#ffffff,#EAEAEA,#252A34,#EAEAEA,#ffffff);
    position: absolute;
    top: 0;
    right: 0;

}
.i-img{
    width: 60%;
    height: 60%;
    position: absolute;
    border-radius: 50%;
    background:linear-gradient(#252A34,#08D9D6);
    margin: 20%;
}
.i-left-wrapper{
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro{
    font-size: 30px;
    font-weight: 300;
}
.i-name{
    font-size: 60px;
}
.i-title{
    height: 50px;
    overflow: hidden;
}
.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}
@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}
.i-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color:#FF2E63;
    display: flex;
    align-items: center;
}